<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Gestion des employés</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}"/>
    <script src="/webjars/jquery/3.5.1/jquery.min.js" type="application/javascript"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.bundle.min.js" type="application/javascript"></script>
</head>
<body>
<div th:fragment="menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://localhost:8080/">Gestion des Employés</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a href="http://localhost:8080/employes?page=0&amp;size=10&amp;sortProperty=matricule&amp;sortDirection=ASC"
                       class="nav-link">Liste des employés <span class="badge badge-primary" th:text="${@employeService.countAllEmploye()}"></span></a></li>
            </ul>

            <form class="form-inline my-2 my-lg-0" role="search" action="http://localhost:8080/employes" method="GET">
                <div class="form-group">
                    <input name="matricule" class="form-control" placeholder="Rechercher un matricule" type="text">
                </div>
                <button type="submit" class="btn btn-outline-success ml-2 my-2 my-sm-0">Rechercher</button>
            </form>
        </div>
    </nav>
</div>

<div th:fragment="inputText(label, id, val)">
    <label class="form-control-label" th:for="${id}" th:text="${label}">Prénom</label>
    <input type="text" value="Prenom" th:value="${val}" class="form-control" th:name="${id}"
           th:id="${id}">
</div>
</body>
</html>