<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: head"></head>
<body>

<div th:replace="fragment/header :: menu"></div>

<div class="container">
    <h2>Détail du [[${#strings.toLowerCase(employe.className)}]] [[${employe.matricule}]]</h2>

    <form id="saveForm" th:action="|/employes/${#strings.toLowerCase(employe.className)}|" method="post"
          class="row">
        <div class="col-lg-6">
            <div class="form-group">

                <input type="hidden" name="id" th:value="${employe.id}">

                <label class="form-control-label" for="nom">Nom</label>
                <input type="text" value="Nom" th:value="${#strings.toUpperCase(employe.nom)}" class="form-control"
                       name="nom"
                       id="nom">

                <label class="form-control-label" for="prenom">Prénom</label>
                <input type="text" value="Prenom" th:value="${employe.prenom}" class="form-control" name="prenom"
                       id="prenom">

                <label class="form-control-label" for="matricule">Matricule</label>
                <input type="text" value="Matricule" th:value="${employe.matricule}" class="form-control"
                       name="matricule" id="matricule">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="form-control-label" for="nom">Salaire</label>
                <div class="input-group">
                    <input type="number" value="9999.0" th:value="${employe.salaire}" class="form-control"
                           name="salaire" id="salaire">
                    <div class="input-group-append">
                        <span class="input-group-text">€</span>
                    </div>
                </div>

                <div th:if="${employe.id}">
                    <label class="form-control-label" for="nom">Prime Annuelle</label>
                    <div class="input-group">
                        <span type="text" value="9999.0" th:utext="${#numbers.formatCurrency(employe.primeAnnuelle)}"
                              class="form-control" name="primeAnnuelle" id="primeAnnuelle">9999</span>
                    </div>
                </div>

                <label class="form-control-label" for="nom">Date d'embauche</label>
                <input type="text" value="99/99/9999"
                       th:value="${#temporals.format(employe.dateEmbauche, 'dd/MM/YYYY')}" class="form-control"
                       name="dateEmbauche" id="dateEmbauche">
            </div>
        </div>

        <div class="col-lg-6" th:if="${employe.className.equals('Commercial')}">
            <label class="form-control-label" for="performance">Performance</label>
            <input type="number" th:value="${employe.performance}" class="form-control" name="performance"
                   id="performance">
            <label class="form-control-label" for="caAnnuel">CA Annuel</label>
            <div class="input-group">
                <input type="number" th:value="${employe.caAnnuel}" class="form-control" name="caAnnuel" id="caAnnuel">
                <div class="input-group-append">
                    <span class="input-group-text">€</span>
                </div>
            </div>
        </div>

        <div class="col-lg-6" th:if="${employe.className.equals('Manager')} and ${employe.id}">
            <label class="form-control-label" for="performance">Equipe</label>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group" th:each="technicien : ${employe.equipe}">
                        <li class="list-group-item">
                            <!--/*@thymesVar id="technicien" type="com.ipiecoles.java.java320.model.Technicien"*/-->
                            <a th:href="|employes/${technicien.id}|">
                                <span th:text="${technicien.nom}">Mélissa</span>
                                <span th:text="${technicien.prenom}">Rodriguez</span>
                                <span class="badge badge-primary" th:text="${technicien.matricule}">T00006</span>
                            </a>
                            <a th:href="|/managers/${employe.id}/techniciens/${technicien.id}/delete|"
                               class="btn btn-sm btn-danger float-right"><i class="fa fa-remove"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-6" th:if="${employe.className.equals('Technicien')}">
            <label class="form-control-label" for="grade">Grade</label>
            <input type="number" th:value="${employe.grade}" class="form-control" name="grade" id="grade">
            <div th:if="${employe.id}">
                <label class="form-control-label">Manager</label>
                <ul class="list-group" th:if="${employe.manager}">
                    <li class="list-group-item">
                        <a th:href="|techniciens/${employe.manager.id}/manager/delete|"
                           class="btn btn-sm btn-danger float-right"><i
                                class="fa fa-remove"></i></a>
                        <a th:href="|employes/${employe.manager.id}|">
                            <span th:text="${employe.manager.prenom}">Benjamin</span>
                            <span th:text="${employe.manager.nom}">David</span>
                            <span class="badge badge-primary" th:text="${employe.manager.matricule}">M0001,</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


    </form>


    <div class="row mt-2">
        <div class="col-lg-6">
            <input form="saveForm" class="btn btn-primary" type="submit" value="Enregistrer">
            <a th:if="${employe.id}" th:href="|/employes/${employe.id}/delete|" class="btn btn-danger">Supprimer</a>
        </div>
    </div>
</div>


</body>
</html>